:root {
    --hero: rgba(0, 0, 0, 0.2);
    --bodybg: #FAF9F6;
    --boderbt: 0.1em solid black;
    --box-shadow: 0px 10px 15px -10px rgba(19,19,19,.5);
    --bgcolor: #fafafa;
    --footer: #D2CCCA;
}
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bodybg);
}

/*Nav*/
nav {
    position: fixed;
    z-index: 10000; 
    background-color: var(--hero);
    padding-right: 20px;
}

/*Hero Section*/
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 45em;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--hero);
}

.remove {
    display: none;
}

/*Food and Drink card Font*/
.selections {
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: var(--boderbt);
}

/*Food card border*/
#findrecipe {
    box-shadow: var(--box-shadow);
    padding: 2em 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: var(--bgcolor);
}

/*Drink card border*/
#finddrink {
    box-shadow: var(--box-shadow);
    padding: 2em 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: var(--bgcolor);
}

/*Buttons*/
#save-recipe {
    margin-top: 1em;
}

/*Food card Section*/
.foodCard {
    box-shadow: var(--box-shadow);
    padding: 2em 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: var(--bgcolor);
    font-size: 1.2em;
}

.card-title {
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: var(--boderbt);
}

.card-img-top {
    width: 100%;
    margin: auto;   
    position: relative;
}

.card-text {
    padding-left: 20px;
}

/*Drink card section*/
.drinkCard {
    box-shadow: var(--box-shadow);
    padding: 2em 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: var(--bgcolor);
    font-size: 1.2em;   
}

.drinkCard-title {
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: var(--boderbt);
    padding-top: -10px;
}

.drinkCard-img-top {
    max-width: 100%;
    position: relative;
}

.drinkCard-text {
    padding-left: 20px;
}

/*Fav recipe page*/
.card-drink-title {
    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: var(--boderbt);
}

.card-drink-text {
    padding-left: 20px;
}

#favCard {
    box-shadow: var(--box-shadow);
    padding: 2em 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: var(--bgcolor);
    font-size: 1.2em;
}

#favImg {
    width: 100%;
    margin: auto;   
    position: relative;
}

#favDrinkCard {
    box-shadow: var(--box-shadow);
    padding: 2em 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 2em;
    background-color: var(--bgcolor);
    font-size: 1.2em;
}

#favDrinkImg     {
    max-width: 100%;
    position: relative;
}

p ul li {
    list-style-type: square !important;   
}

/*Footer*/
.page-footer{
    color: #D2CCCA;
    padding-bottom: 1em;
    min-height: 22vh;
    box-shadow: 0px 10px 15px -10px rgba(19,19,19,1) inset;
}

.footer-title{
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 2px;
    text-align: center;
}

ul#credits{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -1rem;
}

#credits li{
    padding: .5em 2em;
    text-align: center;
}

#credits li p{
    margin: 0;
    letter-spacing: 1px;
}

#credits li:not(:first-child){
    border-left: 1px solid #D2CCCA;
}

#credits li p:last-child{
    font-size: 0.8em;
}

.page-footer a:link, .page-footer a:visited, .page-footer a:active{
    color: var(--footer);
}

.page-footer a:hover{
    color: #aaa;
}

.footer-copyright {
    color: var(--footer);
    margin-top: 0;
    text-align: center;    
}

/*Responsive design*/
@media screen and (max-width: 706px){
    nav .brand-logo {
      display: contents;
    }
  }